<h2>Monitored Symbols</h2>
<%= link_to "Add Symbol", new_stock_path %><br>
<br>
<h2>Sentiment Analysis of All Monitored Symbols</h2>
<hr>
<%= pie_chart({"Positives" => @sentiments.flatten.count("positive"), "Negatives" => @sentiments.flatten.count("negative"), "Neutrals" => @sentiments.flatten.count("neutral")}) %>
<br>
	<% @user.stocks.each_with_index do |symb, idx| %>
		<%= render "stock", stock: symb %>
		<hr>
		<%= pie_chart({"Positives" => @sentiments[idx].count("positive"), "Negatives" => @sentiments[idx].count("negative"), "Neutrals" => @sentiments[idx].count("neutral")}) %>
	<% end %>



<!-- <%= @stocker %> -->
<!-- <%= @user.stocks %> THIS DISPLAYS THE USERS SAVED SYMBOLS-->
<!-- <%= @current_user.inspect %> THIS DISPLAYS THE CURRENT USER'S INFO IN THE TABLE-->
<!-- <%= @user.inspect %> THIS DISPLAYS THE CURRENT USER'S INFO IN THE TABLE-->
<!-- <%= @stocks %>  THIS DISPLAYS ALL STOCKS INCLUDING OTHER ONES IN OTHER ACCOUNTS-->