<h2>Monitored Symbols</h2>
<%= link_to "Add Symbol", new_stock_path %>
<p><%= flash[:errors] %></p>

<h2>Sentiment Analysis of All Monitored Symbols</h2>
<hr>
<% if @sentiments.empty? %>
  Nothing is here! Start saving some tickers to track.
<% else %>
  <%= pie_chart({"Positives" => @sentiments.flatten.count("positive"), "Negatives" => @sentiments.flatten.count("negative"), "Neutrals" => @sentiments.flatten.count("neutral")}) %><br>

  <% @user.stocks.each_with_index do |symb, idx| %>
    <%= render "stock", stock: symb %>
    <%= pie_chart({"Positives" => @sentiments[idx].count("positive"), "Negatives" => @sentiments[idx].count("negative"), "Neutrals" => @sentiments[idx].count("neutral")}) %>
    <table border="0">
      <tr>
        <td><b><%= @ticker_info[idx][0] %></b></td>
        <td><%= @ticker_info[idx][5] %></td>
      </tr>
      <tr>
        <td><b>Open Price</b></td>
        <td><%= @ticker_info[idx][1] %></td>
      </tr>
      <tr>
        <td><b>Day High</b></td>
        <td><%= @ticker_info[idx][2] %></td>
      </tr>
      <tr>
        <td><b>Day Low</b></td>
        <td><%= @ticker_info[idx][3] %></td>
      </tr>
      <tr>
        <td><b>Percent Change</b></td>
        <td><%= @ticker_info[idx][4] %></td>
      </tr>
    </table>
  <% end %>
<% end %>