<h2>Monitored Symbols</h2>
<%= link_to "Add Symbol", new_stock_path %>
<p><%= flash[:errors] %></p>

<h2>Sentiment Analysis of All Monitored Symbols</h2>
<hr>
<% if @sentiments.empty? %>
  Nothing is here! Start saving some tickers to track.
<% else %>
  <%= pie_chart({"Positives" => @sentiments.flatten.count("positive"), "Negatives" => @sentiments.flatten.count("negative"), "Neutrals" => @sentiments.flatten.count("neutral")}) %><br>

  <% @user.stocks.each_with_index do |symb, idx| %>
  	<%= render "stock", stock: symb %>
    <%= pie_chart({"Positives" => @sentiments[idx].count("positive"), "Negatives" => @sentiments[idx].count("negative"), "Neutrals" => @sentiments[idx].count("neutral")}) %>
    <p>
      <%= @ticker_info.count %><br>
      <%= @ticker_info[0] %><br>
      <%= @ticker_info[1] %><br>
    </p>

  <% end %>
<% end %>