<!DOCTYPE html>
<html>
<head>
  <title>CURRENT CONFIDENCE</title>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="menubar">
	<% if current_user %>
		HI <%= @current_user.name.upcase %>! | <a href="/">SEARCH</a> | <a href="/stocks">SAVED SEARCHES</a> | <a href="/users/<%= @current_user.id %>">ABOUT</a> | <a href="/logout">LOGOUT</a>
		<% else %>
		<a href="/users/new">SIGN UP</a> |	<a href="/sessions/new">LOG IN</a>
	<% end %>
</div>

<div class="content">
	<br><br>
	<a href="/" target="_self"><img src="/assets/logo.jpg" width="20%" height="auto" align="left" class="cube"></a>
	<div class="loginornew">
			<div class="contentinside">
				<%= yield %>
				<br>
				<h2>About Current Confidence</h2>
				<p>Having come from a Financial Mathematics background, I wanted to create an application that will allow users to look up a company symbol and get results that yield a confidence level for that day according to Tweets. This web application utilized the Twitter API, <a href="https://github.com/sferik" target="_blank">Erik Michaels-Ober's Twitter Gem</a>, and the <a href="http://sentigem.com/" target="_blank">Sentigem Api</a>. - <a href="https://github.com/mcsuth/" target="_self">Smith Suth</a></p>
				<br>
				<h2>What is Sentiment Analysis?</h2>
				<p>"Sentiment analysis (also known as opinion mining) refers to the use of natural language processing, text analysis and computational linguistics to identify and extract subjective information in source materials.
				Generally speaking, sentiment analysis aims to determine the attitude of a speaker or a writer with respect to some topic or the overall contextual polarity of a document. The attitude may be his or her judgment or evaluation, affective state (that is to say, the emotional state of the author when writing), or the intended emotional communication (that is to say, the emotional effect the author wishes to have on the reader)." - <a href="http://en.wikipedia.org/wiki/Sentiment_analysis">Wiki</a></p>
			<br>
			</div>
	</div>
</div>

</body>
</html>
